<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245179147893-ojt19qfrrrauhfc0asaj2imom7cnkjgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245179147893-ojt19qfrrrauhfc0asaj2imom7cnkjgd</string>
	<key>API_KEY</key>
	<string>AIzaSyBVQJyR1txRoiu4iY-V1kaCYcSCPvw1CUg</string>
	<key>GCM_SENDER_ID</key>
	<string>245179147893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cro.sellersapp</string>
	<key>PROJECT_ID</key>
	<string>foodrush-app-612a3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrush-app-612a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245179147893:ios:0117c595b76bdecb8dfa3c</string>
</dict>
</plist>